body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family:josefin;
    color:#fff;
    background-color: #191B27;
    }


@font-face {
    font-family:josefin;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

/* INDEX--------------------------------------------------------------------------- */

.index-container{
    background: linear-gradient(to top,#0e1417b3,rgba(14, 21, 26, 0.7)),url(../galery/fotosLiceo/liceo1.webp);
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index-container-titleOne h1{
    font-size: 59px;
    margin:5px;
}

.index-button{
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: space-around;
    background-color: #163959;
    padding:20px 0 ;
    font-size: 18px;
}

.index-button a{
    text-decoration:none;
    padding:20px 20px 0 20px;
}

.index-button-items{
    width:150px;
}

.index-button-items a{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px;
    color:#fff;
}

.index-button-items h3{
    margin-bottom: 5px;
}

.index-button-items a:hover{
    background-color: #fff;
    color:#000;
    transform: scale(1.1);
    transition-duration: 1s;
    border-radius: 20px;
    box-shadow: 0 0 20px #fff;
}

.icon-index{
    width: 40px;
    height:40px;
}
/* ------------------------------------------------------------ */

.liceoDescription{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 80px 20px 20px 20px;
    background: linear-gradient(to bottom ,rgba(14, 21, 26, 0.7),rgb(10, 76, 125,0.6));
}

.liceoDescription-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 40px 40px;
}

.liceoDescription-img{
    text-align: center;
}

.liceoDescription-img img{
    width: 100%;
    transition-duration: 1s;
}

.liceoDescription-img img:hover{
    overflow: hidden;
}

.liceoDescription-text{
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.liceoDescription p{
    font-size: 18px;
    margin: 15px 0;
    color:#ffffff;
    text-align: justify;
}

.liceoDescription h2{
    text-align: start;
    font-size: 40px;
    border-bottom:solid #fff;
}
/* ----------Leveles------------------------------------------------------------------------------------- */

.levels-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 10px;
}

.levels-container h2{
    font-size: 50px;
}

.levels{
    margin:10px 0 0 20px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap:10px;
}

.levels img{
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all ease-in-out .5s;
    object-fit: cover;
}

.levels img:hover{
    width: 45%;
}

.ofertaAcademica-container{
    padding: 40px;
}

.ofertaAcademica{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.itemsOfertas:hover{
    background-color: #ffffff;
    color:#000;
}

.itemsOfertas{
    padding: 30px;
    transition: all ease-out .2s;
    background-color: rgb(10, 76, 125,0.2);
    border:solid #00d5ff 1px;
    width: 100%;
    height: 100%;
}

.iconOfertaAcademica{
    width: 40px;
    height: 40px;
}

/* ------------NOTICIAS------------------------------------------------------------------- */

.newsTitle-container{
    background: linear-gradient(to bottom ,rgba(14, 21, 26, 0.7),rgba(0, 0, 0, 0.6)),url(../galery/fotosLiceo/liceo1.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    
}

.newsTitle-container a, #btn-verMas-galery-index{
    color:#fff;
    text-decoration:none;
    border:solid #fff;
    border-radius: 5px;
    margin: 0;
    padding: 3px 30px;
    background-color: transparent;
    transition-duration: .3s;
}

.newsTitle-container a:hover{
    background-color: #fff;
    color:#000;
}

.newsTitle-container h2{
    font-size: 50px;
}


.news-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding:30px 100px;
    background: linear-gradient(to right ,rgba(14, 21, 26, 0.7),rgb(10, 76, 125,0.6));
}

.newsText-container{
    padding: 30px;
}

.newsText-container h3{
    font-size: 40px;
    color:#00d5ff;
    border-bottom:solid #427078;
}

.newsText-container h4{
    color:#00d5ff;
    
}

.date-newsText-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-newsText-container{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    color:#00d5ff
}

.newsText-container a{
    padding: 15px 40px 15px 15px;
    color:#fff;
    font-weight: 900;
    text-decoration: none;
    border:solid #fff;
    border-radius: 10px;
    transition: all ease-out .2s;
    font-size: 20px;
}

.newsText-container a:hover{
    background-color: #fff;
    color:#000;
}

.newsImage-container{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.newsImage-container img{
    width:500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


/* GALERIA INICIO--------------------------------------------------------------------------------------------------------------- */


.galery-index-container{
    margin:100px
}

.galery-index-box{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.galery-index-items{
    object-fit: cover;
    border:3px solid transparent;
    overflow: hidden;
}

.galery-index-items figure{
    margin:0;
}

.galery-index-items img{
    width: 100%;
    object-fit: cover;
    transition: 1s;
}

.galery-index-items img:hover{transform: scale(1.2);}

 #btn-verMas-galery-index{
    margin:80px 0;
}

/* INSCRIPCIONES INICIO---------------------------------------------------------------------------------------------------------- */

.registration-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
}

.registrationImage{
    opacity: 1;
}

.registrationImage img{
    width: 100%;
    filter:brightness(.7)
}

.registrationText{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}



.registrationText a {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.registrationText a:active {
    scale: 0.92;
}

.registrationText a:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

/* FOOTER-------------------------------------- */

.footer-container{
    padding: 50px 20px 5px;
}

.icon-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.icon-footer-container a{
    text-decoration: none;
}

.icons-footer{
    background-color: #163959;
    padding: 14px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.instagramIcon, .facebookIcon, .linkedinIcon, .youtubeIcon{
    transition-duration: .3s;
}

.instagramIcon:hover{
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f );
}

.facebookIcon:hover{
    background-color: #4267B2;
}

.youtubeIcon:hover{
    background-color:#FF0000;
}

.linkedinIcon:hover{
    background-color: #1DA1F2;
}

.footerIcons{
    width: 20px;
    height: 20px;
    margin:0;
    color: #fff;
}

.icons-footer:hover .footerIcons{
    animation:hola .4s both
}

@keyframes hola {
    0% {
        transform:translateY(-40px);
        opacity: 0;
    }
    100%{
        transdorm: translateY(0);
        opacity: 1;
    }
}

.socialsNetworks-copyright{
    text-align: center;
    border-top:solid #fff 1px;
}


