
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --black-color: rgb(22, 57, 89);
  --black-color-light: rgb(19, 51, 79);
  --black-color-lighten: rgb(17, 45, 71);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  color:#fff;
  background: linear-gradient(to right ,rgba(14, 21, 26, 1),#021735,rgba(14, 21, 26, 1));
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);
  }

b{
  color:#e5ff00
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__burger, .nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img{
  width: 29%;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}

@media screen and (max-width: 1118px){
  .nav__logo{
    width: 330px;
  }
}

/* INDEX--------------------------------------------------------------------------- */

.index-container{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.6),rgb(0, 0, 0,0.6)),url(../galery/fotosLiceo/liceo1.webp);
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index-container-titleOne h1{
    font-size: 59px;
    margin:5px;
    text-shadow: 2px 2px 20px #000;
}

.index-button{
    display: flex;
    font-size: var(--normal-font-size);
    width: 100%;
    justify-content: space-around;
    background-color: #163959;
    padding:20px 0 ;
    font-size: 18px;
}

.index-button a{
    text-decoration:none;
    padding:20px 20px 0 20px;
}

.index-button-items{
    width:150px;
}

.index-button-items a{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px;
    color:#fff;
}

.index-button-items h3{
    margin:10px 0;
}

.index-button-items a:hover{
    background-color: #fff;
    color:#000;
    transform: scale(1.1);
    transition-duration: 1s;
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
}

.icon-index{
    width: 40px;
    height:40px;
}

.index-button-items:hover .icon-index, .index-button h3{
    animation:hola .4s both
}
/* ------------------------------------------------------------ */

.liceoDescription{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px 20px 20px;
    background: linear-gradient(to bottom ,rgba(14, 21, 26, 1),#021735);
}

.liceoDescription-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 40px 40px;
}

.liceoDescription-photos img{
    width: 100%;
    border-radius: 10px;
    mask-image: linear-gradient(black  70%,transparent);
    object-fit: cover;
}



.liceoDescription-text{
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--normal-font-size);
}

.liceoDescription p{
    font-size: var(--normal-font-size);
    margin: 26px 0;
    color:#ffffff;
    text-align: justify;
}

.liceoDescription h2{
    text-align: start;
    font-size: 40px;
    border-bottom:solid #FFF 1PX
}
/* ----------Leveles----------------------------------------------------------------------------------------------------------------------------------------- */

.levels-container{
    background: linear-gradient(to bottom ,#0e151a,#021735);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px ;
}

.levels-container h2{
    font-size: 64px;
    margin:200px 0 100px;
}

.levels{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding: 5px;
    overflow: hidden;
    height: 80vh;
}

.levels img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
    filter: brightness(0.5);
    transition-duration: 0.5s;
}

.levels img:hover{
    filter: brightness(1);
    transform:scale(1.1)
}

.ofertaAcademica-container{
    padding: 40px 40px 120px;
}

.ofertaAcademica{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.itemsOfertas:hover{
    background-color: #ffffff;
    color:#000;
}

.itemsOfertas{
    padding: 30px;
    transition: all ease-out .2s;
    background-color: rgb(10, 76, 125,0.2);
    border:solid #00d5ff 1px;
    width: 100%;
    height: 100%;
}

.itemsOfertas p{
  font-size: 14px;
  margin:10px 0px
}

.iconOfertaAcademica{
    width: 40px;
    height: 40px;
}

/* ------------NOTICIAS------------------------------------------------------------------- */

.newsTitle-container{
    background: linear-gradient(to bottom ,rgba(14, 21, 26, 0.7),rgba(0, 0, 0, 0.6)),url(../galery/fotosLiceo/liceo1.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    
}

.newsTitle-container a, #btn-verMas-galery-index{
    color:#fff;
    text-decoration:none;
    border:solid #fff;
    border-radius: 5px;
    margin: 0;
    padding: 20px 30px;
    background-color: transparent;
    transition-duration: .3s;
}

.newsTitle-container a:hover{
    background-color: #fff;
    color:#000;
}

.newsTitle-container h2{
    font-size: 50px;
}


.news-container{
    display: flex;
    align-items: center;
    padding:100px;
    background: linear-gradient(to right ,rgba(14, 21, 26, 1),#021735,rgba(14, 21, 26, 1))
}

.newsText-container{
    padding: 30px;
}

.newsText-container h3{
    font-size: 40px;
    color:#00d5ff;
    border-bottom:solid #427078;
}

.newsText-container h4{
    color:#00d5ff;
}

.newsText-container p{
  font-size: 15px;
  margin:20px 0
}

.date-newsText-container{
    display: flex;
    align-items: center;
    padding: 20px 0 30px;
}

.icon-newsText-container{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    color:#00d5ff
}

.newsText-container a{
    padding: 15px 40px 15px 15px;
    color:#fff;
    font-weight: 900;
    text-decoration: none;
    border:solid #fff;
    border-radius: 10px;
    transition: all ease-out .2s;
    font-size: 20px;
}

.newsText-container a:hover{
    background-color: #fff;
    color:#000;
}

.newsImage-container{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.newsImage-container img{
    width:500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


/* GALERIA INICIO--------------------------------------------------------------------------------------------------------------- */


.galery-index-container{
    margin:100px 100px 200px;
}

.galery-index-box{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.galery-index-items{
    object-fit: cover;
    border:3px solid transparent;
    overflow: hidden;
}

.galery-index-items figure{
    margin:0;
}

.galery-index-items img{
    width: 100%;
    object-fit: cover;
    transition: 1s;
}

.galery-index-items img:hover{transform: scale(1.2);}

    #btn-verMas-galery-index{
    margin:80px 0;
}

/* FECHAS IMPORTANTES---------------------------------------------------------------------------------------------------- */

.title-importantDates{
    text-align: center;
    border-bottom:solid #fff;
    font-size: 20px;
}

.title-importantDates h2{
  margin-bottom: 70px;
}

.importantDates-items-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:10px 40px;
}

.importantDates-item{
    background-color: rgb(10, 76, 125,0.2);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 160px;
    margin:15px;
    border-radius: 10px;
    transition: .5s;
}

.importantDates-item h3{
    margin:5px;
    font-size: 30px;
}

.importantDates-item p{
    margin:0;
}

.importantDates-item:hover{
    background-color: #fff;
    color:#000;
}

/* FOOTER-------------------------------------- */

.footer-container{
    padding: 20px 20px 5px;
    background-color: #102a42;
}

.icon-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.footer-title{
    text-align: center;
    font-size: 20px;
    padding: 40px 0 60px;
}

.icon-footer-container a{
    text-decoration: none;
}

.icons-footer{
    background-color: #163959;
    padding: 14px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.instagramIcon, .facebookIcon, .linkedinIcon, .youtubeIcon{
    transition-duration: .3s;
}

.instagramIcon:hover{
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f );
}

.facebookIcon:hover{
    background-color: #4267B2;
}

.youtubeIcon:hover{
    background-color:#FF0000;
}

.linkedinIcon:hover{
    background-color: #1DA1F2;
}

.tweeterIcon:hover{
    background-color: #000;
}

.footerIcons{
    width: 20px;
    height: 20px;
    margin:0;
    color: #fff;
}

.icons-footer:hover .footerIcons{
    animation:hola .4s both
}

@keyframes hola {
    0% {
        transform:translateY(-40px);
        opacity: 0;
    }
    100%{
        transdorm: translateY(0);
        opacity: 1;
    }
}

.socialsNetworks-copyright{
    text-align: center;
    border-top:solid #fff 1px;
}

.socialsNetworks-copyright h4{
  margin:20px 0
}

.footerInfo-map{
    padding: 40px 0;
    border-top:solid #fff 1px; 
}

iframe{
    width: 100%;
    height: 300px;
}



/* AUTORIDADES-------------------------------------------------------------------------------------------------------- */

.autoridades-container, .mision-container, .historia-container, .cancion-container, .cadetes-container,.listadoDocente-container{
  background:linear-gradient(to bottom, rgb(0, 0, 0,0.4), rgb(0, 0, 0,0.4)),url(../galery/fotosLiceo/liceo7.webp);
  background-size: cover;
  background-position: center center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mision-container{
  background:linear-gradient(to bottom, rgb(0, 0, 0,0.4), rgb(0, 0, 0,0.4)),url(../galery/fotosLiceo/liceo8.webp);
  background-size: cover;
  background-position: center center;
}

.autoridades-items-container{
  margin:60px
}

.autoridades-container h2, .mision-container h2, .historia-container h2, .cancion-container h2, .cadetes-container h2, .listadoDocente-container h2{
  margin-top: 90px;
  font-size: 70px;
  text-shadow: 2px 2px 20px #000;
}

.autoridades-firstGroup, .autoridades-secondGroup, .autoridades-thirdGroup{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:90px;
  padding-bottom: 200px;
}

.autoridades-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.autoridades-items h3{
  font-size: 20px;
  margin:14px 0
}

.autoridades-items img{
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(black  80%,transparent);
}

/* MISION----------------------------------------------------------------------------------------------------------------------------------------------- */

.mision{
  padding: 50px;
  text-align: center;
}

.mision-items-container{
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;
  gap:40px;
}

.mision-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black-color-light);
}

.mision-items i{
  font-size: 100px;
}


/* From Uiverse.io by gharsh11032000 */ 
.card-mision {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  min-height: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  background: #040825;
  border: 2px solid #313131;
  box-shadow: 0px 0px 10px #2b2939;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content-mision {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content-mision .heading-mision {
  font-weight: 700;
  font-size: 32px;
}

.content-mision .para {
  line-height: 1.5;
}

.card-mision:hover {
  box-shadow: 0 0 50px rgba(9, 171, 241, 0.8);
  border-color: #0974f1;
}

.historia-timeline-container{
  margin:50px;
}


/* HISORIA----------------------------------------------------------------------------------------------------------------------------------------------- */

.historia-timeline-container{
  margin:100px;
}

.timeline-item{
  display: flex;
  padding: 50px;
  align-items: center;
}

.timeline-year{
  font-size: 30px;
  padding: 0 30px ;
}

.historia-container2, .historia-container3{
  display: flex;
  margin:100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.historia-container2 h2, .historia-container2 p{
  padding: 40px 100px;
}

.historia-container3 h2, .historia-container3 p{
  padding: 10px 100px;
}

.ideario-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  margin: 90px 0;
}

.ideario-container h2{
  font-size: 40px;
  padding: 20px 0;
}

.ideario-container p{
  padding: 20px 130px;
  
}


/* CANCION DEL LICEO--------------------------------------------------------------------------------------------------------------------------------------- */

.cancion-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.song-letter-container section{
  text-align: center;
  padding: 20px 0;
}

.song-letter-container p{
  padding: 5px;
}

/* DIRECTORES=========================================================================================================================================================== */
.body-directores-container,.body-abanderados-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 15px;
}

table{
  background-color: var(--colorTema);
  padding: 40px 100px;
  color:#d4cdcd;
}

th{
  color:#f8d90f;
  text-align: start;
}

td{
  padding: 10px  30px 10px ;
  margin:0 30px;
  text-align: start;
  border-bottom: solid 1px #fff;
}

tr{
  border-bottom: solid 1px #fff;
}

.padding-td{
  padding-right: 200px;
}

.title-directores-item, .title-abanderados-item{
  font-size: 26px;
}

/* CADETES========================================================================================================================================================================================= */

.cadetes-body-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:100px;
}

.cadetes-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  padding: 20px 30px;
}

.cadetes-image{
  max-width: 700px;
  margin-bottom:20px;
}

.cadetes-image img{
  width: 100%;
}

.cadetes-btn button {
  position: relative;
  padding: 1em 5.8em;
  outline: none;
  border: 1px solid #303030;
  background: linear-gradient(to top right, #090677, #010a49,#090677);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.cadetes-btn button:hover {
 box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
 transition-delay: 0.6s;
}

.cadetes-btn button span {
 position: absolute;
}

.cadetes-btn button span:nth-child(1) {
 top: 0;
 left: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent, #ae00ff);
}

.cadetes-btn button:hover span:nth-child(1) {
 left: 100%;
 transition: 0.7s;
}

.cadetes-btn button span:nth-child(3) {
 bottom: 0;
 right: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent, #001eff);
}

button:hover span:nth-child(3) {
 right: 100%;
 transition: 0.7s;
 transition-delay: 0.35s;
}

.cadetes-btn button span:nth-child(2) {
 top: -100%;
 right: 0;
 width: 2px;
 height: 100%;
 background: linear-gradient(180deg, transparent, #ae00ff);
}

.cadetes-btn button:hover span:nth-child(2) {
 top: 100%;
 transition: 0.7s;
 transition-delay: 0.17s;
}

.cadetes-btn button span:nth-child(4) {
 bottom: -100%;
 left: 0;
 width: 2px;
 height: 100%;
 background: linear-gradient(360deg, transparent, #001eff);
}

.cadetes-btn button:hover span:nth-child(4) {
 bottom: 100%;
 transition: 0.7s;
 transition-delay: 0.52s;
}

.cadetes-btn button:active {
 background: #ae00af;
 background: linear-gradient(to top right, #ae00af, #001eff);
 color: #fff;
 box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
 transition: 0.1s;
}

.cadetes-btn button:active span:nth-child(1) 
span:nth-child(2) 
span:nth-child(2) 
span:nth-child(2) {
 transition: none;
 transition-delay: none;
}

/* LISTADO DOCENTE ====================================================================================================================== */

.actosPublicos-container{
  margin:200px;
}

.actosPublicos-section{
  border-bottom: solid 1px #fff;
  padding-bottom: 20px;
  margin:160px 0
}


.actosPublicos-title{
  font-size: 30px;
  padding: 10px 0 10px;
  color:#f2ff00
}

.actosPublicos-date{
  display: flex;
}

.actosPublicos-date h4{
  padding-left: 10px;
}

.actosPublicos-body{
  padding: 25px 0 40px 0;
  font-size: 15px;
}

.actosPublicos-download{
  display: flex;
}

.actosPublicos-download a{
  background-color: #010f73;
  display: flex;
  padding: 20px 30px;
  border-radius: 30px;
  align-items: center;
  text-decoration: none;
  color:#fff;
  transition-duration: .2s;
}

.actosPublicos-download h3{
  padding-right: 10px;
}

.actosPublicos-download a:hover{
  background-color: #0318b7;
  box-shadow: 1px 1px 30px #0318b7;
}